contributors/contributors
mainapp/mainapp
mainapp/CMD.txt
Docker/contributors
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/ssh/insecure-r31-deployer
terraform/ssh/insecure-r31-deployer.pub